body {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#response {
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

button {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    font-family: Arial, sans-serif;

}

